  body {
      display: flex;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      height: 100%;
      width: 100%;
      flex-direction: column;
    }

header {
  outline: 1px solid black;
  padding: 20px;
  background-color: yellow;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  outline: 1px solid black;
  flex: 1;
  align-self: flex-end;
  order: 2;
  background-color: pink;
}


footer {
  outline: 1px solid black;
  padding: 20px;
  background-color: #110000;
}
