  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      height: 100%
    }

header {
  border: 1px solid box;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  border: 1px solid black;
  height: 200px;
  flex: 1;
  align-self: flex-end;
  order: 2;
}


footer {
  border: 1px solid box;
  padding: 20px;
}
