body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
    }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  gap: 10px;
}

.box {
  display: flex;  
  outline: 1px solid black;
  padding: 20px;
  background-color: yellow;
}

.middle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: row;
}
.item {
  outline: 1px solid black;
  flex: 1;
  align-self: flex-end;
  order: 2;
  background-color: pink;
}
